@import url("https://fonts.googleapis.com/css?family=Bangers|Notable");
html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  background: #f2ecd8;
  font-family: "Bangers", cursive, Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: auto;
  position: fixed;
  background: url(../image/5-comic-burst-background-1.png) no-repeat;
  background-size: cover;
  background-position-y: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 3em;
  -webkit-box-shadow: 0 2px 3px #756549;
          box-shadow: 0 2px 3px #756549;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header div .logo img {
  width: 6rem;
}

.header div h1 {
  font-size: 2rem;
  letter-spacing: .1em;
  color: #f85d3c;
  position: relative;
  left: 2rem;
}

.header .menu-list {
  font-size: 2rem;
  background: #f85d3c;
  width: 100%;
  height: 9rem;
  position: absolute;
  top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.header .menu-list li {
  text-align: center;
  width: 120%;
  height: 3rem;
  border-bottom: 1px solid #fbee04;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu-list li a {
  text-decoration: none;
  color: #0f9fbf;
}

.header .menu-list li a:hover {
  color: #fbee04;
}

.header .menu-list .active {
  color: #fbee04 !important;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 1em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .navicon {
  background: #f85d3c;
  display: block;
  height: 3px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 2em;
  right: -2rem;
  border-radius: 3px;
}

.header .navicon:before,
.header .navicon:after {
  background: #f85d3c;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 3px;
}

.header .navicon:before {
  top: 10px;
}

.header .navicon:after {
  top: -10px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu-list {
  max-height: 9rem;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: -10;
}

main .hero-img {
  background-image: url(../image/977333_free-marvel-superhero-wallpapers-high-quality-resolution-v3y-wallx_1920x1080_h.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vmin;
  width: 100%;
  position: relative;
  top: 7rem;
  z-index: -10;
}

.scrollTop {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #f97155;
  opacity: 0.85;
  color: white;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.scrollTop:hover {
  cursor: pointer;
  opacity: 1;
  background: #f85d3c;
}

.scrollTop i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3em;
  color: white;
}

.hidden {
  display: none;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

footer {
  background: url(../image/5-comic-burst-background-1.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 15vh;
  color: #463d2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  top: 100%;
  z-index: -1;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-top: 15rem;
  margin-bottom: -2rem;
}

footer .socialMed {
  font-size: 3rem;
  margin-top: 1rem;
}

footer .socialMed .fab {
  color: #463d2c;
}

main {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-gap: 10px;
  list-style: none;
  padding: 0;
  width: 80%;
  position: relative;
  top: 13rem;
  z-index: -5;
  color: #f85d3c;
  text-align: center;
}

.list {
  border: 1px solid #88a0ad;
  padding-bottom: 20px;
  padding-top: 20px;
}

.list img {
  width: 100%;
}

#name {
  color: #0f9fbf;
}

#md-blue {
  width: 35%;
  height: 4rem;
  font-size: 1.8em;
  top: 11rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: url(../inspiration/blue-comic-background-with-lines-halftone_1017-11432.jpg) no-repeat;
  background-size: cover;
  background-position-y: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  color: #f85d3c;
  z-index: -1;
}

.md-avatar {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  width: 22%;
  position: relative;
  top: 300px;
  z-index: -1;
}

.md-avatar-img {
  width: 12rem;
  height: 12rem;
  background-color: #0f9fbf2a;
  border-radius: 50%;
}

.md-avatar-tex {
  display: block;
  font-size: 1.2em;
  color: #0f9fbf;
}

.md-h2 {
  position: relative;
  top: 400px;
  color: #f85d3c;
  z-index: -1;
}

.md-p {
  position: relative;
  top: 400px;
  color: #0f9fbf;
  z-index: -1;
  min-width: 320px;
}

#md-sec {
  margin-left: 150px;
  margin-right: 150px;
}

#md-sec-av {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#md-blue-adress {
  width: 35%;
  height: 4rem;
  font-size: 1.8em;
  top: 500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: url(../inspiration/blue-comic-background-with-lines-halftone_1017-11432.jpg) no-repeat;
  background-size: cover;
  background-position-y: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  color: #f85d3c;
  z-index: -1;
}

#md-adress-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  position: relative;
  top: 600px;
  z-index: -1;
}

#karta {
  border-radius: 5%;
}

.md-h2-services {
  position: relative;
  top: 280px;
  color: #f85d3c;
  z-index: -1;
}

.md-p-services {
  position: relative;
  top: 280px;
  color: #0f9fbf;
  z-index: -1;
}

#md-more {
  color: #f85d3c;
  position: relative;
  top: 330px;
  text-align: center;
  z-index: -1;
}

#md-blue-faq {
  width: 35%;
  height: 4rem;
  font-size: 1.8em;
  top: 450px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: url(../inspiration/blue-comic-background-with-lines-halftone_1017-11432.jpg) no-repeat;
  background-size: cover;
  background-position-y: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  color: #f85d3c;
  z-index: -1;
}

.md-h2-faq {
  position: relative;
  top: 500px;
  color: #f85d3c;
  z-index: -1;
}

.md-p-faq {
  position: relative;
  top: 500px;
  color: #0f9fbf;
  z-index: -1;
}

@media (min-width: 768px) {
  .header div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header div .logo {
    position: relative;
    left: -38%;
  }
  .header .menu-list {
    border-radius: 10px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 5.5rem;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1.2rem;
    width: 50%;
    right: 1rem;
    max-height: 7rem;
  }
  .header .menu-list li {
    border-bottom: initial;
  }
  .header .menu-icon {
    display: none;
  }
}

/* @media (max-width: 768px) {
    position: relative;
    top: 20rem;
  } */
@media (max-width: 768px) {
  #md-blue {
    position: relative;
    top: 6em;
    width: 25rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
  }
  #md-sec-av {
    position: relative;
    top: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .md-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 4rem;
  }
  .md-avatar-tex {
    display: block;
  }
  #md-sec-av {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #md-sec {
    margin-left: 20px;
    margin-right: 20px;
  }
  #md-blue-adress {
    width: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #md-blue-services {
    position: relative;
    top: 10rem;
    width: 25rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
  }
  #md-blue-faq {
    position: relative;
    /* top: 10rem; */
    width: 25rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .md-h2-services {
    position: relative;
    top: 22rem;
    color: #f85d3c;
    z-index: -1;
  }
  .md-p-services {
    position: relative;
    top: 22rem;
    color: #0f9fbf;
    z-index: -1;
  }
  #md-more {
    color: #f85d3c;
    position: relative;
    top: 22rem;
    text-align: center;
    z-index: -1;
  }
  .items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .list img {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */