@import url("https://fonts.googleapis.com/css?family=Bangers|Notable");

$font-title: "Bangers", cursive;
$font-alt: "Notable", sans-serif;

$clr-bg: #f2ecd8;
$clr-title: #f85d3c;
$clr-txt: #fbee04;
$clr-extra: #0f9fbf;
$clr-dark: #362f22;
$clr-a: #3ed1ee;
$clr-b: #bcd689;
$clr-c: #824583;
$clr-d: #ffd458;
$clr-e: #ff9241;
$clr-star: orange;

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  background: $clr-bg;
  font-family: $font-title, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: auto;
  position: fixed;
  background: url(../image/5-comic-burst-background-1.png) no-repeat;
  background-size: cover;
  background-position-y: center;
  display: flex;
  justify-content: space-around;
  padding: 1em 3em;
  box-shadow: 0 2px 3px lighten($clr-dark, 20%);

  div {
    display: flex;
    flex-direction: column;

    .logo {
      width: 7rem;
      margin-left: 0;

      img {
        width: 100%;
      }
    }

    h1 {
      font-size: 2rem;
      letter-spacing: 0.1em;
      color: $clr-title;
      position: relative;
      left: 12rem;
    }
  }

  .menu-list {
    font-size: 2rem;
    background: $clr-title;
    width: 100%;
    height: 9rem;
    position: absolute;
    top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;

    li {
      text-align: center;
      width: 120%;
      height: 3rem;
      border-bottom: 1px solid $clr-txt;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        color: $clr-extra;
      }
      a:hover {
        color: $clr-txt;
      }
    }

    .active {
      color: $clr-txt !important;
    }
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 1em;
    position: relative;
    user-select: none;
  }

  .navicon {
    background: $clr-title;
    display: block;
    height: 3px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 2em;
    right: -2rem;
    border-radius: 3px;
  }

  .navicon:before,
  .navicon:after {
    background: $clr-title;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
    border-radius: 3px;
  }

  .navicon:before {
    top: 10px;
  }

  .navicon:after {
    top: -10px;
  }

  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .menu-list {
    max-height: 9rem;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}

main {
  // min-height & flex setup to have the footer stick to the bottom
  min-height: 100%;
  flex: 1 0 auto;
  // here below goes the rest of main

  .hero-img {
    background-image: url(../image/977333_free-marvel-superhero-wallpapers-high-quality-resolution-v3y-wallx_1920x1080_h.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vmin;
    width: 100%;
    position: relative;
    top: 7rem;
    z-index: -10;
    margin-bottom: 10rem;
  }

  .showcases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 0;

    h3 {
      text-align: center;
      font-size: 1.5em;
      letter-spacing: 0.1em;
      color: $clr-title;
      background: #0f9fbf;
      padding: 1em;
      border-radius: 1em;
      width: 50%;
    }
  }

  // overlay style starts here
  #button0 {
    position: relative;
    top: 200px;
    left: 42.5%;
    padding: 20px;
  }
  #overlay {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    height: 100%;
    background-color: $clr-extra;
    border-radius: 10px;
    z-index: 11;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    #box1 {
      position: absolute;
      top: 4%;
      left: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 90%;
      height: 45%;
      #title {
        font-size: 8vw;
        color: $clr-dark;
        margin-bottom: 5%;
      }
      #bild-overlay {
        width: 90%;
        height: 70%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 5);
      }
      #clasificacion {
        direction: rtl;
        unicode-bidi: bidi-override;
      }
      label {
        color: $clr-bg;
        font-size: 4vw;
      }
      label:hover {
        color: $clr-star;
        cursor: pointer;
      }
      label:hover ~ label {
        color: $clr-star;
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"]:checked ~ label {
        color: $clr-star;
      }
    }
    #button1 {
      position: absolute;
      top: 1%;
      left: 94%;
      background-color: $clr-extra;
      border: none;
      font-family: "Bangers", cursive, Arial, Helvetica, sans-serif;
      color: $clr-bg;
      cursor: pointer;
      font-size: 4vw;
      width: 1%;
    }
    #myCanvas {
      position: absolute;
      top: 60%;
      width: 35%;
      margin: 0 33.5%;
    }
    #color-circle,
    #color-name {
      position: absolute;
      display: flex;
      width: 80%;
      margin: 1% 10%;
      justify-content: space-evenly;
      font-size: 3vw;
    }
    #color-circle {
      top: 49%;
      .circle-item {
        width: 15%;
        padding-bottom: 15%;
        border-radius: 50%;
      }
      #circle1 {
        background-color: $clr-a;
      }
      #circle2 {
        background-color: $clr-b;
      }
      #circle3 {
        background-color: $clr-c;
      }
      #circle4 {
        background-color: $clr-d;
      }
      #circle5 {
        background-color: $clr-e;
      }
    }
    #color-name {
      top: 56%;
      height: 3%;
      .circle-item {
        width: 15%;
        padding-bottom: 15%;
        border-radius: 50%;
      }
    }
    #box2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80%;
      margin: 0 10%;
      position: absolute;
      top: 80%;
      #rest,
      #add,
      #hire {
        cursor: pointer;
      }
      #rest,
      #add,
      #hour,
      #tprice {
        background-color: $clr-bg;
        margin: 0 auto;
        width: auto;
        font-size: 3vw;
      }
      #hours,
      #price {
        color: $clr-dark;
        border-radius: 5px;
        margin-bottom: 6%;
      }
      #hire {
        width: 30%;
        padding: 2%;
        background-color: $clr-txt;
        border-radius: 5px;
        font-family: "Bangers", cursive, Arial, Helvetica, sans-serif;
        font-size: 5vw;
        color: $clr-dark;
        margin-left: auto;
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 350px;
  grid-gap: 10px;
  width: 80%;
  font-family: $font-alt;
  letter-spacing: 0.2em;

  .items {
    // overflow: hidden;
    display: grid;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer !important;
    }

    h4 {
      z-index: -1;
      text-align: center;
      line-height: 3;
      background: $clr-title;
      color: $clr-txt;
      font-size: 15px;
      position: relative;
      width: 100%;
      height: 3rem;
      top: -1.3rem;
    }
  }
}

.scrollTop {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: lighten($clr-title, 5%);
  opacity: 0.85;
  color: white;
  transition: all 200ms ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 1;
    background: $clr-title;
  }

  i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
  }
}

.hidden {
  display: none;
  transition: all 500ms ease-in;
}

footer {
  background: url(../image/5-comic-burst-background-1.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 15vh;
  color: lighten($clr-dark, 5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  .socialMed {
    font-size: 3rem;
    margin-top: 1rem;

    i {
      color: $clr-dark;
    }
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .header {
    div {
      flex-direction: row;
      align-items: center;

      .logo {
        margin-left: -12rem;
      }
      h1 {
        left: 12rem;
      }
    }

    .menu-list {
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      top: 5.5rem;
      height: 4rem;
      font-size: 1.5rem;
      padding-left: 1rem;
      padding-right: 1.2rem;
      width: 50%;
      right: 1rem;
      max-height: 7rem;

      li {
        border-bottom: initial;
      }
    }

    .menu-icon {
      display: none;
    }
  }

  main {
    #overlay {
      position: fixed;
      top: 20%;
      left: 20%;
      width: 60%;
      height: 70%;
      #box1 {
        top: 8%;
        left: 12%;
        width: 30%;
        height: 70%;
        #title {
          font-size: 4vw;
        }
        label {
          font-size: 1.5vw;
        }
      }
      #button1 {
        top: 2%;
        font-size: 2vw;
      }
      #myCanvas {
        top: 40%;
        left: 57%;
        width: 20%;
        margin: 0;
      }
      #color-circle,
      #color-name {
        width: 40%;
        margin: 0;
        font-size: 1.2vw;
      }
      #color-circle {
        top: 20%;
        left: 47%;
        .circle-item {
          width: 15%;
          border-radius: 50%;
        }
      }
      #color-name {
        top: 31%;
        left: 47%;
        height: 3%;
        .circle-item {
          width: 15%;
          border-radius: 50%;
        }
      }
      #box2 {
        flex-direction: row;
        align-items: center;
        width: 86%;
        top: 82%;
        margin: 0 7%;
        #hours,
        #price {
          font-size: 1vw;
          margin-left: 4%;
          margin-bottom: 0;
          #rest,
          #add,
          #hour,
          #tprice {
            font-size: 1vw;
          }
        }
        #hire {
          width: 15%;
          font-size: 1.5vw;
        }
      }
    }
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
