@import url("https://fonts.googleapis.com/css?family=Bangers|Notable");

$font-title: "Bangers", cursive;
$font-alt: "Notable", sans-serif;

$clr-bg: #f2ecd8;
$clr-title: #f85d3c;
$clr-txt: #fbee04;
$clr-extra: #0f9fbf;
$clr-dark: #362f22;

$bar-width: 40px;
$bar-height: 5px;
$bar-spacing: 12px;
$transition-time: 0.5s;

html,
body {
  // height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  background: $clr-bg;
  font-family: $font-title, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
    width: 100%;
    height: auto;
    position: fixed;
    background: url(../image/5-comic-burst-background-1.png) no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: space-around;
    padding: 1em 3em;
    box-shadow: 0 2px 3px lighten($clr-dark, 20%);
    flex: 0;

    div {
        display: flex;
        flex-direction: column;

        .logo {
          img {
            width: 6rem;
          }
        }

        h1 {
            font-size: 2rem;
            letter-spacing: .1em;
            color: $clr-title;
            position: relative;
            left: 2rem;
        }
    }

    .menu-list {
        font-size: 2rem;
        background: $clr-title;
        width: 100%;
        height: 9rem;
        position: absolute;
        top: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height .2s ease-out;

        li {
            text-align: center;
            width: 120%;
            height: 3rem;
            border-bottom: 1px solid $clr-txt;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: $clr-extra;
            }
            a:hover {
                color: $clr-txt;
            }
        }

        .active {
            color: $clr-txt !important;
        }
    }

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 28px 1em;
        position: relative;
        user-select: none;
    }

    .navicon {
        background: $clr-title;
        display: block;
        height: 3px;
        position: relative;
        transition: background .2s ease-out;
        width: 2em;
        right: -2rem;
        border-radius: 3px;
    }

    .navicon:before,
    .navicon:after {
        background: $clr-title;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
        border-radius: 3px;
    }

    .navicon:before {
    top: 10px;
    }

    .navicon:after {
    top: -10px;
    }

    .menu-btn {
        display: none;
    }

    .menu-btn:checked ~ .menu-list {
        max-height: 9rem;
    }

    .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

}

main {
  // min-height: 100%;
  flex: 1 0 auto;
  z-index: -10;
  // here below goes the rest of main

  .hero-img {
    background-image: url(../image/977333_free-marvel-superhero-wallpapers-high-quality-resolution-v3y-wallx_1920x1080_h.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vmin;
    width: 100%;
    position: relative;
    top: 7rem;
    z-index: -10;
  }
}

.scrollTop {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: lighten($clr-title, 5%);
  opacity: 0.85;
  color: white;
  transition: all 200ms ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 1;
    background: $clr-title;
  }

  i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
  }
}

.hidden {
	display: none;
	transition: all 500ms ease-in;
}

footer {
	background: url(../image/5-comic-burst-background-1.png) no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 15vh;
	color: lighten($clr-dark, 5%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	position: relative;
	top: 100%;
  z-index: -1;
  flex: 0;
  margin-top: 15rem;
  margin-bottom: -2rem;

	.socialMed {
		font-size: 3rem;
		margin-top: 1rem;

		.fab {
			color: lighten($clr-dark, 5%);
		}
	}
}

// 'our heroes' Desktop layout
main {
  display: grid;
  justify-items: center;
}

.items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  list-style: none;
  padding: 0;
  width: 80%;
  position: relative;
  top: 13rem;
  z-index: -5;
  // padding-bottom: 50px;
  color: #f85d3c;
  text-align: center;
}

.list{
  border: 1px solid rgb(136, 160, 173);
  padding-bottom: 20px;
  padding-top: 20px;
}

#name{
  color: #0f9fbf;
}


// About us Desktop version
// OBS!! Alla tager och klasser som jag har skapat börjar med "md-"
// På detta sätt vi ska inte ha konflikter nar vi merge

#md-blue {
  width: 35%;
  height: 4rem;
  font-size: 1.8em;
  top: 11rem;
  margin: auto;
  display: flex;
  position: relative;
  background: url(../inspiration/blue-comic-background-with-lines-halftone_1017-11432.jpg)
    no-repeat;
  background-size: cover;
  background-position-y: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  color: $clr-title;
  z-index: -1;
}

.md-avatar {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;

  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  width: 22%;

  position: relative;
  top: 300px;
  z-index: -1;
}
.md-avatar-img {
  width: 12rem;
  height: 12rem;
  background-color: #0f9fbf2a;
  border-radius: 50%;
}

.md-avatar-tex {
  display: block;
  font-size: 1.2em;
  color: $clr-extra;
}

.md-h2 {
  position: relative;
  top: 400px;
  color: $clr-title;
  z-index: -1;
}

.md-p {
  position: relative;
  top: 400px;
  color: $clr-extra;
  z-index: -1;
  min-width: 320px;
}

#md-sec {
  margin-left: 150px;
  margin-right: 150px;
}

#md-sec-av {
  display: flex;
  justify-content: center;
}

#md-blue-adress {
  width: 35%;
  height: 4rem;
  font-size: 1.8em;
  top: 500px;
  margin: auto;
  display: flex;
  position: relative;
  background: url(../inspiration/blue-comic-background-with-lines-halftone_1017-11432.jpg)
    no-repeat;
  background-size: cover;
  background-position-y: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  color: $clr-title;
  z-index: -1;
}

#md-adress-img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  position: relative;
  top: 600px;
  z-index: -1;
}

#karta {
  border-radius: 5%;
}

// Services Desktop version
// OBS!! Alla tager och klasser som jag har skapat börjar med "md-"
// På detta sätt vi ska inte ha konflikter nar vi merge

.md-h2-services {
  position: relative;
  top: 280px;
  color: $clr-title;
  z-index: -1;
}

.md-p-services {
  position: relative;
  top: 280px;
  color: $clr-extra;
  z-index: -1;
}

#md-more {
  color: $clr-title;
  position: relative;
  top: 330px;
  text-align: center;
  z-index: -1;
}

#md-blue-faq {
  width: 35%;
  height: 4rem;
  font-size: 1.8em;
  top: 450px;
  margin: auto;
  display: flex;
  position: relative;
  background: url(../inspiration/blue-comic-background-with-lines-halftone_1017-11432.jpg)
    no-repeat;
  background-size: cover;
  background-position-y: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  color: $clr-title;
  z-index: -1;
}

.md-h2-faq {
  position: relative;
  top: 500px;
  color: $clr-title;
  z-index: -1;
}

.md-p-faq {
  position: relative;
  top: 500px;
  color: #0f9fbf;
  z-index: -1;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
	.header {
        div {
            flex-direction: row;
            align-items: center;

            .logo {
              position: relative;
              left: -38%;
            }
        }

        .menu-list {
            border-radius: 10px;
            display: flex !important;
            flex-direction: row;
            top: 5.5rem;
            height: 4rem;
            font-size: 1.5rem;
            padding-left: 1rem;
            padding-right: 1.2rem;
            width: 50%;
            right: 1rem;
			      max-height: 7rem;

            li {
                border-bottom: initial;
            }
        }

        .menu-icon {
            display: none;
        }
	}

}

  // About us Mobile version
  // OBS!! Alla tager och klasser som jag har skapat börjar med "md-"
  // På detta sätt vi ska inte ha konflikter nar vi merge

@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

/* @media (max-width: 768px) {
    position: relative;
    top: 20rem;
  } */

@media (max-width: 768px) {
  #md-blue {
    position: relative;
    top: 6em;
    width: 25rem;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
  }

  #md-sec-av {
    position: relative;
    top: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .md-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 4rem;
  }
  .md-avatar-tex {
    display: block;
  }

  #md-sec-av {
    align-content: center;
  }

  #md-sec {
    margin-left: 20px;
    margin-right: 20px;
  }

  #md-blue-adress {
    width: 25rem;
    display: flex;
  }

  #md-blue-services {
    position: relative;
    top: 10rem;
    width: 25rem;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */

  }

  #md-blue-faq{
    position: relative;
    /* top: 10rem; */
    width: 25rem;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
  }


  .md-h2-services {
    position: relative;
    top: 22rem;
    color: $clr-title;
    z-index: -1;
  }

  .md-p-services {
    position: relative;
    top: 22rem;
    color: $clr-extra;
    z-index: -1;
  }

  #md-more {
    color: $clr-title;
    position: relative;
    top: 22rem;
    text-align: center;
    z-index: -1;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr;
  }

  .list {
    border: none;
  }
}